<?xml version='1.0' encoding='utf-8'?>
<!-- Cordova config for the Android APK of PlanetCinema.
     ライブ データは各機関の公開サーバーから読み込むため、ネットワーク アクセスを許可します。 -->
<widget id="io.github.masaaki_avnturle.planetcinema" version="1.1.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PlanetCinema</name>
  <description>GammaTwin で発見した惑星の動画館。複素回転 e^{iωt}・特殊相対論(γ/D/光行差)・Jones熱の表面クラス・ケプラー軌道推定・.webm動画録画 (オフライン スナップショット内蔵)</description>
  <author email="masaaki.tabu4@gmail.com" href="https://github.com/masaaki-avnturle/Bada">Masaaki Yamaguchi</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="https://*/*" />
  <access origin="*" />
  <preference name="BackgroundColor" value="0xff03050c" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="AndroidWindowSplashScreenBackgroundColor" value="#03050c" />
  <preference name="Orientation" value="default" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
  </platform>
</widget>
