<?xml version='1.0' encoding='utf-8'?>
<!-- Cordova config for the Android APK of Contact Transporter Studio.
     ワークフロー (contact-transporter-build.yml) が cordova プロジェクトを作成し、
     この config.xml と dist/www (tools/build.js の自己完結 HTML + cordova.js) を差し込みます。 -->
<widget id="io.github.masaaki_avnturle.contacttransporter" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Contact Transporter</name>
  <description>量子プログラミング言語 Bada で書かれた ContactGPT (設計図書の方程式 2111 本で学習したゼロから実装の Transformer) + 異次元輸送機の 3D CAD + UFO 設計図面作成ソフト (アプリ内 Bada IDE 付き)</description>
  <author email="masaaki.tabu4@gmail.com" href="https://github.com/masaaki-avnturle/Bada">Masaaki Yamaguchi</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="BackgroundColor" value="0xff070b14" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="AndroidWindowSplashScreenBackgroundColor" value="#070b14" />
  <preference name="Orientation" value="default" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
    <!-- 書き出し (STL / OBJ / DXF / SVG / PNG) を Download フォルダへ保存 (Android 10 以下) -->
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:requestLegacyExternalStorage="true" />
    </edit-config>
  </platform>
</widget>
