<?xml version='1.0' encoding='utf-8'?>
<!-- Cordova config for the Android APK of Orbita.
     ライブ データは各機関の公開サーバーから読み込むため、ネットワーク アクセスを許可します。 -->
<widget id="io.github.masaaki_avnturle.orbita" version="1.1.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Orbita</name>
  <description>誰でも自由にアクセスできる公開衛星(Himawari-9/GOES/Meteosat/NASA EPIC)から宇宙から見た地球をライブ表示・動画再生 + NOAA/ISS パス予報 (要ネット)</description>
  <author email="masaaki.tabu4@gmail.com" href="https://github.com/masaaki-avnturle/Bada">Masaaki Yamaguchi</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="https://*/*" />
  <access origin="*" />
  <preference name="BackgroundColor" value="0xff03050c" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="AndroidWindowSplashScreenBackgroundColor" value="#03050c" />
  <preference name="Orientation" value="default" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
  </platform>
</widget>
