<?xml version='1.0' encoding='utf-8'?>
<!--
  Cordova config for the Android APK build of Ω-Biofeedback Oracle.
  娯楽/非医療/非予知。アカシックレコード・未来予知の機能はありません。
  ワークフローが cordova プロジェクトを作成し、この config.xml と ../www を差し込みます。
-->
<widget id="io.github.masaaki_avnturle.omega_biofeedback" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Omega-Biofeedback-Oracle</name>
  <description>生成的バイオフィードバック・サウンドアート (娯楽・非医療・非予知)</description>
  <author email="masaaki.tabu4@gmail.com" href="https://github.com/masaaki-avnturle/Bada">Masaaki Yamaguchi</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="BackgroundColor" value="0xff04060a" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="false" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="AndroidWindowSplashScreenBackgroundColor" value="#04060a" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
  </platform>
</widget>
