<?xml version='1.0' encoding='utf-8'?>
<!-- Cordova config for the Android APK of Ω-Thermal Trace. 非医療・概念シミュレーション。
     ワークフローが cordova プロジェクトを作成し、この config.xml と ../www を差し込みます。 -->
<widget id="io.github.masaaki_avnturle.omega_thermal_trace" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Omega-Thermal-Trace</name>
  <description>Γ多様体による体内/脳の熱エネルギー流トレース (概念シミュレーション・非医療)</description>
  <author email="masaaki.tabu4@gmail.com" href="https://github.com/masaaki-avnturle/Bada">Masaaki Yamaguchi</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="BackgroundColor" value="0xff04060a" />
  <preference name="Orientation" value="portrait" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="AndroidWindowSplashScreenBackgroundColor" value="#04060a" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
    </config-file>
  </platform>
</widget>
