<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bada.omega.drugforge" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ω-DrugForge</name>
    <description>形態形成場による薬剤製造シミュレーション (概念実証・教育用)</description>
    <author email="masaaki.tabu4@gmail.com">Masaaki Yamaguchi</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="default" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="33" />
</widget>
