<?xml version='1.0' encoding='utf-8'?>
<!-- Cordova config for the Android APK of SafePower.
     注意: Android では OS の電源操作(サスペンド/ハイバネート/再起動)は
     root/system 権限が無い限り実行できません。APK は操作内容と同等コマンドの
     表示、およびアプリ状態の保存に限定されます。 -->
<widget id="io.github.masaaki_avnturle.safepower" version="1.1.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SafePower</name>
  <description>安全オフ(sync + ハイバネート)と rehalt(再起動せずにOS再ロード)。デスクトップで実行、Androidは表示のみ。</description>
  <author email="masaaki.tabu4@gmail.com" href="https://github.com/masaaki-avnturle/Bada">Masaaki Yamaguchi</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="BackgroundColor" value="0xff04060a" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="AndroidWindowSplashScreenBackgroundColor" value="#04060a" />
  <preference name="Orientation" value="default" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
  </platform>
</widget>
