<?xml version='1.0' encoding='utf-8'?>
<!-- Cordova config for the Android APK of Bada C++Builder.
     ワークフローが cordova プロジェクトを作成し、この config.xml と
     ../www (自己完結 IDE = cpp_builder/index.html) を差し込みます。 -->
<widget id="io.github.masaaki_avnturle.cppbuilder" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>BadaCppBuilder</name>
  <description>Bada C++Builder — Inprise/Borland C++Builder 風 RAD IDE のオマージュ再現 (フォームデザイナ + Object Inspector + C++サブセット実行系)</description>
  <author email="masaaki.tabu4@gmail.com" href="https://github.com/masaaki-avnturle/Bada">Masaaki Yamaguchi</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="BackgroundColor" value="0xff008080" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="AndroidWindowSplashScreenBackgroundColor" value="#008080" />
  <preference name="Orientation" value="landscape" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
  </platform>
</widget>
