<?xml version='1.0' encoding='utf-8'?>
<!-- Cordova config for the Android APK of GammaTwin.
     ライブ データは各機関の公開サーバーから読み込むため、ネットワーク アクセスを許可します。 -->
<widget id="io.github.masaaki_avnturle.gammatwin" version="1.1.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>GammaTwin</name>
  <description>NASA Exoplanet Archive(Kepler/TESS 宇宙望遠鏡カタログ)から地球と境遇が同型な惑星を発見・ランキング。Γ重みESI + Jones多項式熱感知 + 銀河マップ + 実サーベイ望遠鏡ビュー (オフライン スナップショット内蔵)</description>
  <author email="masaaki.tabu4@gmail.com" href="https://github.com/masaaki-avnturle/Bada">Masaaki Yamaguchi</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="https://*/*" />
  <access origin="*" />
  <preference name="BackgroundColor" value="0xff03050c" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="AndroidWindowSplashScreenBackgroundColor" value="#03050c" />
  <preference name="Orientation" value="default" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
  </platform>
</widget>
